body { font-family: Arial, sans-serif; background: #f4f4f4; }
.container { max-width: 600px; margin: 40px auto; background: #fff; border-radius: 8px; box-shadow: 0 2px 8px #0001; padding: 32px; }
h1 { color: #2c3e50; font-family: serif;}
h2 { color: #2980b9; font-family: monospace;}
h3 { color: #16a085; font-family: fantasy;}
p {color: purple; font-family: Georgia, 'Times New Roman', Times, serif;}
.resaltado { background: #ffeaa7; padding: 2px 6px; border-radius: 4px; }
.reto { background: #527d5d; border-left: 4px solid #d8b647; padding: 12px; margin-top: 24px; }
